{
  "settings": {
    "react": {
      "pragma": "React",  // Pragma to use, default to "React"
      "version": "15.0" // React version, default to the latest React stable release
    }
  },
  "extends": [
    "eslint:recommended",
    "airbnb"
  ]
}